body {
  background: #333;
}
body #wrapper {
  margin: 0 auto;
  text-align: center;
}
body #wrapper h1 {
  color: #fff;
}
body #wrapper #timer_div {
  color: #fff;
  font-size: 30px;
  margin-bottom: 30px;
}
body #wrapper #score {
  color: pink;
  font-size: 30px;
  margin-bottom: 10px;
}
body #wrapper #container {
  background: -webkit-radial-gradient(circle, #1a82f7, #2F2727);
  font-family: calibri, serif;
  color: #d9d9d9;
  display: block;
  height: 500px;
  width: 40%;
  margin: 0 auto;
  border: 1px solid #ccc;
  z-index: 1;
  overflow: hidden;
  position: relative;
}